.text{
  top: 15%;
  left: 35%;
  color: white;
}

.btn_part{
  margin-left: 35%;
  margin-top: 5%;
}

.partecipanti_form{
  position: absolute;
  margin-left: 35%;
}

.pilotino_1{
  width: 200px;
  height: 270px;
  margin-top: 180px;
  margin-left: 25%;

}

.pilotino_2{
  width: 200px;
  height: 270px;
  margin-top: 180px;
  margin-left: 55%;
}

.scuderia{
  width: 280px;
  height: 190px;
  margin-top: 530px;
  margin-left: 37%;
}

@media (max-width: 575.98px){
.pilotino_1{
  width: 120px;
  height: 190px;
  margin-top: 130px;
  margin-left: 4%;

}

.pilotino_2{
  width: 120px;
  height: 190px;
  margin-top: 130px;
  margin-left: 50%;
}

.scuderia{
  width: 220px;
  height: 130px;
  margin-top: 350px;
  margin-left: 18%;
  }

.partecipanti_form{
  position: absolute;
  margin-left: 10%;
  }
.text{
  top: 25%;
  left: 17%;
  color: white;
  }
}

 
  

