/*css pulsanti qualifiche e gara */

.container_btn{
  position: relative;
 text-align: center;
  top: 100px;
}

.container_btn button{
  position: relative;
  margin-right: 5%;
  margin-top: 5%;
  width: 70%;
  height: 70%;
  max-width: 600px;
  max-height: 300px;
  padding: 0;
}


.container_btn button div:nth-child(1) {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 300px;
  float: left;
  position: relative;
}

.container_btn button div img{
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 300px;
  object-fit: cover;
}

.container_btn div:nth-child(3) {
  margin-top: 5%;
}

.container_btn button div:nth-child(2){
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);  
}

.container_btn button div:nth-child(2):hover{
  background-color: rgba(5, 145, 246, 0.3);  
}


.container_btn button div:nth-child(2) span{
  position: absolute;
  top: 50%;
  font-size: large;
  left: 20%;
}




.text_pron {
  font-size: 20px;
  background-color: rgba(33, 33, 41, 0.7);
  color: white;
}

.form-group {
  margin-bottom: 0px !important;
}

.pronostici {
  position: absolute;
  padding: 0px 40px;
  background-color: rgba(33, 33, 41, 0.7);
}

.btn_send:hover {
  background-color: red;
  color: white;
}
/*pulsante pronostici invia*/
.btn_send {
  background-color: white;
  color: black;
}

.close:hover {
  color: red;
}

/*pulsante pronostici qualifica*/
.btn_q {
  margin-top: 5%;
  margin-left: 20%;
}
/*pulsante pronostici gara*/
.btn_r {
  margin-top: 5%;
  margin-left: 55%;
}

.btn-primary {
  background-color: rgba(33, 33, 41, 1);
  border-color: rgba(33, 33, 41, 1);
}

.modal-content {
  background-color: rgba(33, 33, 41, 0.7);
  color: white;
}

.close {
  color: white;
}

/*pulsante riepilogo pronostici */
.btn_pratt{
  margin-left: 35%;
  margin-top: 25%;
}

/*pultate logout profilo */
.form_login {
  margin-top: 35%;
  margin-left: 35%;
  background-color: rgba(33, 33, 41, 0.7);
  color: white;
}

.btn_logout {
  background-color: red;
  color: white;
}

.btn_logout:hover {
  background-color: white;
}

.addq {
  margin-left: 35%;
  margin-top: 20%;
}
.addr {
  margin-left: 35%;
  margin-top: 25%;
}
.addc {
  margin-left: 35%;
  margin-top: 30%;
}
.addp {
  margin-left: 35%;
  margin-top: 35%;
}

.text {
  color: white;
  margin-left: 45%;
  margin-top: 31%;
}

.addrit {
  margin-top: 40%;
  margin-left: 35%;
}

.text_addrit {
  color: white;
  margin-top: 40.5%;
  margin-left: 45%;
}

@media (max-width: 575.98px) {
  .pronostici {
    margin-top: 20px;
    font-size: 5px;
  }

  .btn_mq {
    margin-left: 4%;
    margin-top: 5%;
  }
  .btn_mr {
    margin-left: 4%;
    margin-top: 20%;
  }
  .form_login {
    margin-top: 55%;
    margin-left: 35%;
    background-color: rgba(33, 33, 41, 0.7);
    color: white;
  }

  .addq {
    margin-left: 4%;
    margin-top: 50%;
  }
  .addr {
    margin-left: 4%;
    margin-top: 65%;
  }
  .addc {
    margin-left: 4%;
    margin-top: 80%;
  }
  .addp {
    margin-left: 4%;
    margin-top: 95%;
  }
  .addrit {
    margin-top: 110%;
    margin-left: 4%;
  }

  /*pulsante riepilogo pronostici */
  .btn_pratt{
    margin-left: 4%;
    margin-top: 35%;
  }

  .container_btn button div:nth-child(2) span{
    font-size: small;
  }
}

@media (min-width: 1024px) {
  .pronostici {
    margin-top: 5%;
    margin-left: 35%;
    font-size: 16px;
  }
  .btn_mq {
    margin-left: 35%;
    margin-top: 5%;
  }
  .btn_mr {
    margin-left: 35%;
    margin-top: 10%;
  }
  .form_login {
    margin-top: 25%;
    margin-left: 35%;
    background-color: rgba(33, 33, 41, 0.7);
    color: white;
  }
  /*pulsante riepilogo pronostici */
  .btn_pratt{
    margin-left: 35%;
    margin-top: 15%;
  }
}







