
.text_ris{
	position: absolute;
	margin-top: 1%;
	margin-left: 35%;
	color: white;
}



.punteggi{
	position: absolute;
	margin-left: 35%;
	margin-top: 2%;
}
.button_send{
	position: absolute;
	margin-top: 2%;
	margin-left: 48%;
}

table{
	position: absolute;
	color: white;
	margin-left: 15%;
	margin-top: 10%;
}

.inline{
	display: inline-block;
	
}

.landscape,.landscape2{
	visibility: hidden;
}


td{
	background-color: rgba(33,33,41,0.7);
	padding: 8px 30px;
}

@media (max-width: 575.98px){
	.punteggi{
		margin-left: 1%;
	}
	table{
		margin-top: 20%;
	}
	td{
		padding: 3px 10px;
	}
	.text_ris{
		margin-left: 5%;
		font-size: 15px;
	}
}

@media (orientation: landscape) and (max-height: 575.98px){
	table{
		margin-top: 10% !important;
	}
	.portrait{
		visibility: hidden;
	}
	.landscape,.landscape2{
		visibility: visible;
	}
	.landscape2{
		margin-left: 57%;
	}
	.landscape{
		margin-left: 0%;
	}
	td{
		padding: 3px 10px;
	}
	.punteggi{
		margin-left: 5%;
	}
}


